<h1 class="px-3" style= "width: fit-content; background-color: #e6e6e6;">商品新規登録</h1>
<%= form_with model: [:admin, @item] do |f| %>
  <div>
    <span class="mr-5">商品名</span>
    <%= f.text_field :name, placeholder:"商品名" %>
  </div>
  <div>
    <span class="mr-5">商品説明</span>
    <%= f.text_area :explanation, placeholder:"ここに説明" %>
  </div>
  <div>
    <span class="mr-5">ジャンル</span>
  </div>
  <div>
    <span class="mr-5">税抜価格</span>
    <%= f.text_field :explanation, placeholder:"1000" %>
  </div>
  <div>
    <span class="mr-5">販売ステータス</span>
  </div>
  <%= f.submit "新規登録", class: "btn btn-success" %>
<% end %>
